@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.distill-site-nav {
  color: rgba(255, 255, 255, 0.8);
  background-color: #99d8c9; 
  font-size: 15px;
  font-weight: 300;
}

